@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.admin-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Change to space-between for proper alignment */
    align-items: center; /* Align items vertically */
  }

  .content-con{
    display:flex;
  }
  
  .admin-header > h1 {
    font-size: 4rem;
    font-family: 'kanit';
    color: white;
    margin-left: 1rem; 
  }
  
  /* Assuming this is for the dropdown and the button */
.add-new-button{
    margin-left: 2rem;
    margin-right: 2rem;
    font-size:1.5rem;
    font-family:'kanit';
    font-weight:300;
    background-color:rgba(144,122,34,255);
    color:rgba(215,213,211,255);
    padding-right:1rem;
    padding-left:1rem;
    transition: background-color  0.6s
  }

  .add-new-button:hover{
    background-color:white;
    color:black;
  }
  



 
/* AdminView.module.css */
.table {
   display:flex;
   overflow-y: auto;
  max-height: 900px;
   margin:1rem;
  }

/* .admin-select{
    align-content:center;
    justify-content:center;
} */