nav{
    overflow:hidden;
    height:5rem;
    /* border:2px solid */
} 

.navbarLogo{
    width:10rem;
    height:10rem;
    /* border:2px solid */
}

.imageContainer{
    margin-left:2rem;
    margin-top:-2.8rem;
    display:inline-block;
    float:left;
    /* border:2px solid; */
}

.userIcon{
    position: relative;
    float:right;
    display:flex;
    gap:1rem;
    margin-top:1rem;
    margin-right:3rem;
    color:white;
    cursor:pointer;
    /* border:2px solid; */
} 

.userIcon > h1{
    font-family:'kanit';
    font-size:1.2rem;
    font-weight:200
}
/* Additions for the dropdown styling */
.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    /* max-width: 200px; */
    background-color: #facc15;
    /* border: 1px solid #ccc; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    z-index: 1;
    
}

.dropdown ul {
    list-style-type: none;
    width:10rem;
    padding: 1rem; 
    margin: 0;
  
    z-index: 1;
}

.dropdown li {
    /* padding: 3rem; */
    font-size: 0.8rem;
    cursor: pointer;
    color:black;
    font-weight:600;

}

.dropdown ul:hover {
    background-color: #f0f0f0;
}


.userIcon{
    margin-top:2rem;
    color:white;
    transition: color 0.3s ease;
    
}

.userIcon:hover{
  color: #facc15;

}