.sidebar-container {
    display: flex;
    min-height: 100vh; /* Full height of the viewport */
  }
  
  .admin-sidebar {
    flex: 0 0 250px; /* Sidebar width */
    background-color: #333; /* Sidebar color */
    padding: 20px; /* Spacing inside sidebar */
    color: white;
    font-family:'Kanit';
    font-size:2rem;
  }
  
  .admin-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .admin-sidebar li:not(:last-child) {
    padding: 10px 0; /* Spacing between list items */
    cursor: pointer;
  }
  
  .admin-views {
    flex-grow: 1; /* Take up remaining space */
    background-color: #f4f4f4; /* View area color */
    padding: 20px; /* Spacing inside view area */
  }
  
  /* Additional styling for active links and hover states */
  .admin-sidebar li:not(:last-child):hover,
  .admin-sidebar li:not(:last-child).active {
    background-color: rgba(144,122,34,255); 
  }

  .admin-views{
    background-color:rgba(32,32,32,255);
  }


  .logout-button{
    color: rgb(220, 20, 60); /* Crimson red */
    font-size:1.2rem;
    margin-left:auto;
    transition: color ease-out 0.5s
    
  }

  .logout-button:hover{
    color: white; /* Crimson red */
   
  }