/* ticketHistory.css */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ticket-card {
    border: 1px solid #e0e0e0;
    background-color: #f5f5f5;
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
    
  }
  
  .ticket-card:hover {
    background-color: lightgray; 
    transform: scale(1.02);
  }

  .ticket-card:hover .movie-title,   .ticket-card:hover .date ,   .ticket-card:hover .summary {
    color:black;
  }
  
  .ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
  }

  
  .movie-title {
    color:black;
    font-size:2rem;
    font-family:'Kanit';
    font-weight: 400;
  }

  
  .date {
    font-size: 0.9rem;
    font-family:'Kanit';
    color:black;
  }
  
  .summary {
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-family:'Kanit';
    font-weight:200;
  }
  
  .details {
    margin-top: 10px;
    line-height: 1.5;
  }
  
  

  #detailTHead{
    font-size:1.5rem;
    font-weight:500;
    font-family:'Kanit';
  }

  
  #detailTDe{
    font-size:1.6rem;
    font-weight:200;
    font-family:'Kanit';
  }

  .no-booking-found{
    font-size:1.3rem;
    color:white;
    font-family:'Kanit';
  }

  .ticket-history-head{
    font-size:3rem;
    color:white;
    font-family:'Kanit';
    text-align:left;
    margin-left:1rem;
    display:flex;
    
    width:95%;
  }

  .ticket-history-head > button{
    color: rgb(220, 20, 60); /* Crimson red */
    font-size:1.2rem;
    margin-left:auto;
    transition: color ease-out 0.5s
    
  }

  .ticket-history-head > button:hover{
    color: white; /* Crimson red */
   
    
  }